FIREBASE_API_KEY=AIzaSyDqLXsrjgMcW4dXSLQIdKLL2PEfMc2vXfI
FIREBASE_AUTH_DOMAIN=user69-83afc.firebaseapp.com
FIREBASE_DATABASE_URL=https://user69-83afc-default-rtdb.firebaseio.com
FIREBASE_PROJECT_ID=user69-83afc
FIREBASE_STORAGE_BUCKET=user69-83afc.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=228502191488
FIREBASE_APP_ID=1:228502191488:web:7669f479348dc2da23d565
FIREBASE_MEASUREMENT_ID=G-BF8X15QTMD

FIREBASE_SERVICE_ACCOUNT_KEY=path/to/serviceAccountKey.json

RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

ZAPPI_API_KEY=your_zappi_api_key

ADMIN_PASSWORD=Bankai$1000

JWT_SECRET=your_jwt_secret_key

NODE_ENV=development
PORT=5000
NEXT_PUBLIC_API_URL=http://localhost:5000
